:root {
    /** Colors **/
--Yellow: hsl(47, 88%, 63%); /* Set base font yellow */
--White: hsl(0, 0%, 100%); /* Set base font color white */

--Slate-300: hsl(0, 0%, 42%); /* Set base font color light grey */
--Gray-950: hsl(00, 0%, 7%); /* Set base font color dark grey */

--font-size: 16px;        /* Set base font size */
--font-family-1: 'Arial', sans-serif;  /* Set font family to Arial*/
--font-family: 'Figtree'; /* Set font family to Figtree */
}

body {
    background: var(--Yellow);
}

.big-container {
    display: flex;
    flex-direction: column;
    width: 384px;
    padding: 1.5rem;
    background: var(--White);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 8px 8px 0px 0px #000;
    margin: 10rem auto;
    font-family: var(--font-family);
    gap: 24px;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    border-radius: 10px;
    width: 100%;
}

.main-content{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 4px 12px;
    gap: 12px;
}

.Learning-box {
    display: flex;
    flex-direction: row;
    background-color: var(--Yellow);
    padding: 4px 12px;
    gap: 8px;
    border-radius: 4px;
    margin: 0;
}

.Publish-date {
    margin: 0;
    width: auto;
}

.h2 {
    margin: 0;
    height: auto;
    color: var(--Gray-950);
    text-decoration: none;
}

.h2 a:hover {
    color: var(--Yellow);
    text-decoration: none;
}

.h2 {
    margin: 0;
    height: auto;
    color: var(--Gray-950);
    text-decoration: none;
}

.h2 a {
    color: var(--Gray-950);
    text-decoration: none;
}

.h2 a:hover {
    color: var(--Yellow);
    text-decoration: none;
}

.main-text {
    margin: 0;
    width: auto;
    color: var(--Slate-300);
}

.Author-OP {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    color: var(--Gray-950);
}

.attribution {
    font-size: 38px;
    text-align: center;
    margin-top: 20px;
    
}
.attribution a { color: hsl(228, 45%, 44%); }